.scrum-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  
  .scrum-board h1 {
    margin-top: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  @keyframes animate{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 1; 
    } 
    100%{ 
      opacity: 0.1; 
    } 
  } 

  .scrum-board h3{
    animation: animate 5s linear infinite;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin-bottom: 20px;
  }
  
  .columns-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    margin: 0%;
    padding: 0%;
    gap: 1px;
  }
  
  .column-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
  }
  
  .search-bar {
    margin-bottom: 10px;
  }

  .search-bar input {
    width: 83%;
    padding: 6px 10px 6px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: small;
    background-image: url('https://img.icons8.com/?size=100&id=84039&format=png&color=000000');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 2px 4px; 
  }
  
  

  @media (max-width: 768px) {
    .scrum-board h1 {
      font-size: 3rem;
    }
    

  }

  @media (max-width: 576px) {
    .scrum-board h1 {
      font-size: 2.5rem;
    }

    .columns-container {
      flex-direction: column;
      align-items: center;
    }
  }