.task-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-title {
  font-weight: bold;
  font-size: large;
}

.task-time {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  color: rgb(94, 92, 92);
  font-weight: bold;
  padding: 1px 1px;
  border-radius: 1px;
}

.task-details {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 5px;
  border-bottom: 1px solid #8a8484;
}

.task-details2 {
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-bottom: 5px;
}

.edit{
  padding: 5px 10px;
  font-size: 12px;
  background-color: #000103;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 22px;
  font-weight: bold;
}

.edit:hover{
  animation: pulse 0.5s ease-in-out forwards;
  background-color: #343435;
}

.task-card.high{
  background-color: #f59292;
}

.task-card.normal{
  background-color: #cce5ff;
}

.task-card.normal:hover{
  background-color: #47b6f7;

}



.task-card.high:hover{
  background-color: #f53a3a;

}

.task-card.dragging {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0.8; 
}



  

